<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f_static_00</key>
	<string>[呲牙]</string>
	<key>[呲牙]</key>
	<string>f_static_00</string>
	<key>f_static_01</key>
	<string>[调皮]</string>
	<key>[调皮]</key>
	<string>f_static_01</string>
	<key>f_static_02</key>
	<string>[流汗]</string>
	<key>[流汗]</key>
	<string>f_static_02</string>
	<key>f_static_03</key>
	<string>[偷笑]</string>
	<key>[偷笑]</key>
	<string>f_static_03</string>
	<key>f_static_04</key>
	<string>[再见]</string>
	<key>[再见]</key>
	<string>f_static_04</string>
	<key>f_static_05</key>
	<string>[敲打]</string>
	<key>[敲打]</key>
	<string>f_static_05</string>
	<key>f_static_06</key>
	<string>[擦汗]</string>
	<key>[擦汗]</key>
	<string>f_static_06</string>
	<key>f_static_07</key>
	<string>[快哭了]</string>
	<key>[快哭了]</key>
	<string>f_static_07</string>
	<key>f_static_08</key>
	<string>[哈欠]</string>
	<key>[哈欠]</key>
	<string>f_static_08</string>
	<key>f_static_09</key>
	<string>[流泪]</string>
	<key>[流泪]</key>
	<string>f_static_09</string>
	<key>f_static_010</key>
	<string>[大哭]</string>
	<key>[大哭]</key>
	<string>f_static_010</string>
	<key>f_static_011</key>
	<string>[嘘]</string>
	<key>[嘘]</key>
	<string>f_static_011</string>
	<key>f_static_012</key>
	<string>[酷]</string>
	<key>[酷]</key>
	<string>f_static_012</string>
	<key>f_static_013</key>
	<string>[抓狂]</string>
	<key>[抓狂]</key>
	<string>f_static_013</string>
	<key>f_static_014</key>
	<string>[委屈]</string>
	<key>[委屈]</key>
	<string>f_static_014</string>
	<key>f_static_015</key>
	<string>[便便]</string>
	<key>[便便]</key>
	<string>f_static_015</string>
	<key>f_static_016</key>
	<string>[咒骂]</string>
	<key>[咒骂]</key>
	<string>f_static_016</string>
	<key>f_static_017</key>
	<string>[菜刀]</string>
	<key>[菜刀]</key>
	<string>f_static_017</string>
	<key>f_static_018</key>
	<string>[愉快]</string>
	<key>[愉快]</key>
	<string>f_static_018</string>
	<key>f_static_019</key>
	<string>[色]</string>
	<key>[色]</key>
	<string>f_static_019</string>
	<key>f_static_020</key>
	<string>[害羞]</string>
	<key>[害羞]</key>
	<string>f_static_020</string>
	<key>f_static_021</key>
	<string>[得意]</string>
	<key>[得意]</key>
	<string>f_static_021</string>
	<key>f_static_022</key>
	<string>[吐]</string>
	<key>[吐]</key>
	<string>f_static_022</string>
	<key>f_static_023</key>
	<string>[微笑]</string>
	<key>[微笑]</key>
	<string>f_static_023</string>
	<key>f_static_024</key>
	<string>[发怒]</string>
	<key>[发怒]</key>
	<string>f_static_024</string>
	<key>f_static_025</key>
	<string>[尴尬]</string>
	<key>[尴尬]</key>
	<string>f_static_025</string>
	<key>f_static_026</key>
	<string>[惊恐]</string>
	<key>[惊恐]</key>
	<string>f_static_026</string>
	<key>f_static_027</key>
	<string>[囧]</string>
	<key>[囧]</key>
	<string>f_static_027</string>
	<key>f_static_028</key>
	<string>[抓狂1]</string>
	<key>[抓狂1]</key>
	<string>f_static_028</string>
	<key>f_static_029</key>
	<string>[嘴唇]</string>
	<key>[嘴唇]</key>
	<string>f_static_029</string>
	<key>f_static_030</key>
	<string>[白眼]</string>
	<key>[白眼]</key>
	<string>f_static_030</string>
	<key>f_static_031</key>
	<string>[傲慢]</string>
	<key>[傲慢]</key>
	<string>f_static_031</string>
	<key>f_static_032</key>
	<string>[鼓掌]</string>
	<key>[鼓掌]</key>
	<string>f_static_032</string>
	<key>f_static_033</key>
	<string>[惊讶]</string>
	<key>[惊讶]</key>
	<string>f_static_033</string>
	<key>f_static_034</key>
	<string>[疑问]</string>
	<key>[疑问]</key>
	<string>f_static_034</string>
	<key>f_static_035</key>
	<string>[困]</string>
	<key>[困]</key>
	<string>f_static_035</string>
	<key>f_static_036</key>
	<string>[亲亲]</string>
	<key>[亲亲]</key>
	<string>f_static_036</string>
	<key>f_static_037</key>
	<string>[憨笑]</string>
	<key>[憨笑]</key>
	<string>f_static_037</string>
	<key>f_static_038</key>
	<string>[爱情]</string>
	<key>[爱情]</key>
	<string>f_static_038</string>
	<key>f_static_039</key>
	<string>[猪头]</string>
	<key>[猪头]</key>
	<string>f_static_039</string>
	<key>f_static_040</key>
	<string>[撇嘴]</string>
	<key>[撇嘴]</key>
	<string>f_static_040</string>
	<key>f_static_041</key>
	<string>[阴险]</string>
	<key>[阴险]</key>
	<string>f_static_041</string>
	<key>f_static_042</key>
	<string>[奋斗]</string>
	<key>[奋斗]</key>
	<string>f_static_042</string>
	<key>f_static_043</key>
	<string>[发呆]</string>
	<key>[发呆]</key>
	<string>f_static_043</string>
	<key>f_static_044</key>
	<string>[右哼哼]</string>
	<key>[右哼哼]</key>
	<string>f_static_044</string>
	<key>f_static_045</key>
	<string>[拥抱]</string>
	<key>[拥抱]</key>
	<string>f_static_045</string>
	<key>f_static_046</key>
	<string>[坏笑]</string>
	<key>[坏笑]</key>
	<string>f_static_046</string>
	<key>f_static_047</key>
	<string>[可怜]</string>
	<key>[可怜]</key>
	<string>f_static_047</string>
	<key>f_static_048</key>
	<string>[鄙视]</string>
	<key>[鄙视]</key>
	<string>f_static_048</string>
	<key>f_static_049</key>
	<string>[晕]</string>
	<key>[晕]</key>
	<string>f_static_049</string>
	<key>f_static_050</key>
	<string>[悠闲]</string>
	<key>[悠闲]</key>
	<string>f_static_050</string>
	<key>f_static_051</key>
	<string>[弱]</string>
	<key>[弱]</key>
	<string>f_static_051</string>
	<key>f_static_052</key>
	<string>[强]</string>
	<key>[强]</key>
	<string>f_static_052</string>
	<key>f_static_053</key>
	<string>[爱你]</string>
	<key>[爱你]</key>
	<string>f_static_053</string>
	<key>f_static_054</key>
	<string>[握手]</string>
	<key>[握手]</key>
	<string>f_static_054</string>
	<key>f_static_055</key>
	<string>[胜利]</string>
	<key>[胜利]</key>
	<string>f_static_055</string>
	<key>f_static_056</key>
	<string>[抱拳]</string>
	<key>[抱拳]</key>
	<string>f_static_056</string>
	<key>f_static_057</key>
	<string>[蛋糕]</string>
	<key>[蛋糕]</key>
	<string>f_static_057</string>
	<key>f_static_058</key>
	<string>[啤酒]</string>
	<key>[啤酒]</key>
	<string>f_static_058</string>
	<key>f_static_059</key>
	<string>[咖啡]</string>
	<key>[咖啡]</key>
	<string>f_static_059</string>
	<key>f_static_060</key>
	<string>[足球]</string>
	<key>[足球]</key>
	<string>f_static_060</string>
	<key>f_static_061</key>
	<string>[篮球]</string>
	<key>[篮球]</key>
	<string>f_static_061</string>
	<key>f_static_062</key>
	<string>[乒乓球]</string>
	<key>[乒乓球]</key>
	<string>f_static_062</string>
</dict>
</plist>
